.nav{
  overflow-x: hidden;
  overflow-y: auto;;
  color: black;
  border-right: 1px solid grey;
  height: 100%;
  float: left;
}

.nav-header {
  position: relative;
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey;
}

.nav-title {
  font-weight: 300;
  line-height: 1;
  margin: 0;
}

.nav-item {
  padding-left: 15px;
  width: 100%;
  margin-top: 1rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;
}

.button.ui.primary.basic.button{
  width:247px;
}

.nav {
  display: flex;
}
.nav .nav-toggle-bar{
  display: flex;
  align-items: center;
  justify-content: center;
}
